$tiktok: #00f2ea;
$instagram: #7385e2;
$spotify: #3bd671;
$apple: #f6636d;
$soundcloud: #f26f23;
$merch: #a6a9af;

.flex-container {
    display: flex;
    flex-direction: row;

    /* align-items: flex-start; */
    justify-content: space-around;

    /* background-color: #282c34; */
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // z-index: -2;
    height: 100vh;

    /* flex-grow: 1; */
    flex-basis: 0;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    height: 100vh;
}

.flex-item {
    display: flex;

    /* height: 100vh; */
    align-self: flex-start;
}

.flex-item-1 {
    justify-content: flex-start;
    max-width: 10vw;
    min-width: 10vw;

    /* align-self: flex-start; */
    /* align-content: flex-end; */
}

.flex-item-2 {
    justify-content: center;
    align-self: center;
    max-width: 50vw;
    min-width: 50vw;
}

.flex-item-3 {
    justify-content: flex-start;
    max-width: 10vw;
    min-width: 10vw;
}

.flex-item-banner {
    /* max-height: 10vh; */
}

.flex-item-links {
    /* align-self: stretch; */
    /* flex-basis: 0; */
}

.title {
    /* height: auto; */
    /* max-height: 100vh; */
    /* width: auto; */
    /* max-width: 12vw; */
    /* display: absolute; */
    /* display: flex; */
    /* left: 2vw; */
    /* top: 2vw; */
    /* min-width: 10vw; */
    width: 15vw;
    // min-width: 15vw;
    margin-top: 10vh;
    margin-left: 5vw;
    // max-height: 30vh;

    /* margin-left: 10vw; */
    cursor: pointer;
    opacity: 95%;

    /* padding: 12em; */
    /* height: auto; */
    /* font-size: calc(10px + 2vmin); */
    color: white;

    /* margin: 1em; */
    transition: 200ms;

    /* position: fixed; */
    cursor: pointer;
    opacity: 95%;

    /* width: 100%; */
    pointer-events: all;

    filter: drop-shadow(1px 1px) &;

    hover {
        transform: scale(0.9);
        transition: 1000ms;
    }
}

.featured {
    object-fit: cover;
    background-repeat: repeat;
    background-color: #282c34;

    /* height: 100vh; */
    /* min-height: 80vh; */
    margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: absolute;
    font-size: calc(10px + 2vmin);
    color: white;

    /* padding: 1em; */
    /* position: absolute; */
}

/* .featured {
    object-fit: cover;
    background-color: #282c34;
    height: 80vh;
    /* min-height: 80vh; */
/* margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.00), rgba(0, 0, 0, 0.73)),
        url('../assets/background.gif');
    background-repeat: no-repeat;
    object-fit: cover; */
/* padding: 1em; */
/* position: absolute; */
/* } */

.featured-links {
    display: flex;

    /* position: absolute; */
    align-self: flex-start;
    justify-content: center;

    /* min-width:100vw; */
    /* max-width:100vw; */
    /* height: 100vh; */
    /* pointer-events: none; */

    >*>* {
        /* font-size: large; */
        /* height: 3em; */
        min-width: 40vw;
        margin: auto;
        border-spacing: 2vh;
        border-radius: 20px;

        /* pointer-events: all; */
        -webkit-touch-callout: none;

        /* iOS Safari */
        -webkit-user-select: none;

        /* Safari */
        -khtml-user-select: none;

        /* Konqueror HTML */
        -moz-user-select: none;

        /* Old versions of Firefox */
        -ms-user-select: none;

        /* Internet Explorer/Edge */
        user-select: none;

        /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        >* {
            /* font-size: 1vh; */
            /* font-size: large; */
            /* height: 3em; */
            margin: auto;
            color: white;

            >* {
                // padding:  2vh 5vw;
                // margin: 1.5rem;

                /* width: 100vw; */
                // transform: scaleX(105%);
                transition: 80ms;
                cursor: pointer;
                background-color: #0000002b;
                border: solid rgba(0, 0, 0, 0.106) 0.5px;
                border-radius: 0.7rem;
                font-size: 2vw;
            }

            &:hover {
                transform: scale(110%);
                transition: 80ms;
            }
        }
    }
}

.column {
    flex-direction: column;
    height: 100vh;
}

.scroll-prompt {
    font-size: 5vw;
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;

    /* left: calc(50vw); */
    /* margin: auto; */
    opacity: 30%;

    /* transform: translate(-2vw); */
    transition: 500ms;

    /* display: none; */
    cursor: pointer;

    /* display: flex;c */
    /* min-width: 100%; */
}

.scroll-prompt-top {
    top: 50vh;
    left: 5vw;
    max-width: 15vh;
}

.scroll-prompt-bottom {
    top: 50vh;
    right: 5vw;
    max-width: 15vh;
}

.scroll-prompt-right {
    /* right: 5%; */
    /* left: 95vw; */
    opacity: 20%;
    font-size: calc(3vw + 3vh);
    color: rgb(255, 255, 255);
    max-width: 20vh;
    position: absolute;
    right: 15vw;
    bottom: 10vh;
    cursor: alias;
}

flex-item-4 {
    align-self: flex-end;
    justify-content: flex-end;
}

flex-item-5 {
    align-self: flex-end;
}

.scroll-prompt:hover {
    transition: 500ms;
    color: white;
    opacity: 90%;
}

.react-icon {
    /* font-size: 2rem; */
    padding-right: 1vw;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    /* transform: translateX(10px); */
}

.link-title {
    // font-size: calc(1vh + 1vw)

    /* font-weight: 110%; */
}

.tiktok:hover>span {
    transition: 300ms;
    color: $tiktok;
}

.instagram:hover>span {
    transition: 300ms;
    color: $instagram;
}

.spotify:hover>span {
    transition: 300ms;
    color: $spotify;
}

.apple:hover>span {
    transition: 300ms;
    color: $apple;
}

.soundcloud:hover>span {
    transition: 300ms;
    color: $soundcloud;
}

.merch {
    &:hover>span {
        // transition: 300ms;
        color: $merch;
    }

    >* {
        /* min-width: 30vw; */
    }

    // max-height: 50vh;
}

.merch-image {
    width: 70vw;
    max-height: 45vh;
    transition: 500ms;
    transition-delay: 500ms;
    filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.4));
    cursor: grab;

    &:hover {
        transform: scale(110%);
        transition: 500ms;
        cursor: grab;
    }

    &:active {
        transform: scale(104%);
        transition: 500ms;
        cursor: grabbing;
    }
}

.product__image {
    max-height: 50vh;
    max-width: 30vw;
    transition: 500ms;
    transition-delay: 500ms;
    filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.4));
    // cursor: grab;

    &:hover {
        transform: scale(95%);
        transition: 500ms;
        // cursor: grab;
    }

    &:active {
        transform: scale(95%);
        transition: 500ms;
        // cursor: grabbing;
    }
}

.merch-button {
    border-radius: 10%;
    margin-top: 2vh;
    // max-width: 25vw;
    background-color: #ffffffc8;

    /* border-color: #282c34; */
    font-weight: bold;
    // border-radius: calc(1vh + 1vw);
    background-color: #0000006e;
    border: solid rgba(0, 0, 0, 0.506) 0.5px;
    pointer-events: all;
    cursor: pointer;
    color: white;
    // padding: 2vh 2vw;
    padding: .5rem 3rem;
    font-family: "Calibri", sans-serif;
    display: inline-flex;
    justify-content: center;
    /* center the content horizontally */
    align-items: center;
    /* center the content vertically */

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 500ms;
        font-size: calc(0.8vh + 0.8vw);
    }

    // &:hover {
    //     background-color: #0000007a;
    //     transition: 200ms;
    // }

    // &:active {
    //     color: #aa0a0ade;
    //     transition: 0ms;
    // }

    &:hover span {
        // padding-right: 15px;
        // padding-left: 15px;
        font-weight: bolder;

        /* transition: 100ms; */
        /* transition-property: font-weight; */

        &:after {
            opacity: 1;
            right: 0;
        }
    }
}

.playButton {
    /* height: auto; */
    /* max-height: 100vh; */
    /* width: auto; */
    /* max-width: 12vw; */
    /* display: absolute; */
    /* display: flex; */
    /* left: 2vw; /
    /* top: 2vw; */
    margin-top: calc(10vh);
    // margin-right: 10vw;
    cursor: pointer;
    opacity: 95%;

    /* padding: 12em; */
    /* height: auto; */
    /* font-size: calc(10px + 2vmin); */
    color: white;

    /* margin: 1em; */
    transition: 1500ms;

    /* position: fixed; */
    cursor: pointer;
    opacity: 95%;
    width: 100%;

    &:hover {
        // transform: scale(95%);
        transition: 500ms;
    }

    >* {
        color: rgb(255, 255, 255);
        font-size: calc(3vw + 3vh);
        // font-size: 18vw;
        transition: 2000ms;
        transform: scale(110%);
        pointer-events: fill;
        margin: 5vh, 5vh, 0 0;

        &:active {
            transform: scale(105%);
            transition: 200ms;

            /* color: black; */
        }
    }
}

.pause {
    color: #ffffff;

    &:hover {
        color: rgb(255, 255, 255);
    }
}

.invisible>.pause {
    color: #ffffff00;

    /* transition-delay: 1000ms; */

    &:hover {
        color: rgb(255, 255, 255);
    }
}

.volume {
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    bottom: 10px;
}

.slider-container {
    max-width: 33vw;

    /* position: fixed; */
    /* left: 50%; */
    /* top: 50%; */
    /* margin-left: 30vw; */

    &.invisible:hover {
        opacity: 100%;
    }
}

.invisible {
    opacity: 0;
    transition: 1500ms;
    pointer-events: none;

    /* position: fixed; */
}

.playButton.invisible {
    /* width: 10%; */
    opacity: 0.1;
    transition: 500ms;

    /* transition-delay: 400ms; */
    // transform: scale(110%);

    &:hover {
        /* width: 10%; */
        opacity: 1;
        transition: 200ms;

        /* transition-delay: 400ms; */
        pointer-events: fill;
    }
}

.visible {
    transition: 500ms;
    filter: drop-shadow(1px 1px #00000087);
}

.title.invisible {
    &:hover {
        transition: 1500ms;
        opacity: 100;
    }

    opacity: 10%;
    pointer-events: fill;

    /* display: block; */
    transition: 1500ms;

    /* position: absolute; */
    /* top: 2vh; */
    /* left: 2vw; */
    transform: scale(110%);

    /* transition-property: opacity; */
}

.scroll-container.invisible {
    opacity: 0;
    pointer-events: none;
}

.slider-container.invisible {
    opacity: 0%;
    display: none;
    pointer-events: all;
    transition-delay: 500ms;
    transition-property: opacity;

    /* display: block; */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.scroll-container {
    >*>*>*>* {
        overflow: auto;
    }

    overflow: auto;
    max-height: 70vh;
    min-width: 50vw;
    padding: 1rem;
    overflow-x: hidden;
}

.nav-active {
    color: grey;
    font-weight: bold;
}

/* Inline #3 | http://localhost:3000/music-demo/ */
.featured-links>*>*>*>* {
    /* font-size: 3vw; */
    // font-size: 1.5vw;
}

/* Inline #3 | http://localhost:3000/music-demo/ */

.featured-links>*>*>*>* {
    /* padding: 2vh 5vw; */
    /* border-radius: 0.7rem; */
    padding: 2vh 3vw;
    border-radius: 3vw;
}

.featured-links>*>* {
    /* border-radius: 20px; */
    border-radius: 2vw;
    max-width: 25vw;
}

.featured-links-table {
    border-spacing: 2vh;
    min-width: 80%;
    height: 10vh;
}

.song-title {
    // display:block;
    // position:fixed;
    // width: 100vw;
    font-size: 2vw;
    // text-align: center;
    // right: 5vh;
    // bottom: 1vh;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 100%;

    &.invisible {
        opacity: 0%;
    }

    padding-bottom: 1rem;
    // cursor:grabbing;

    user-select: none;
    /* Standard syntax */
    text-shadow: -1px 0.8px #00000030;
}

#video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: #1c1f27;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.increment-button {
    border-radius: 50% 0 0 50%;

    // margin: 2rem;
    // padding: .5rem 1rem;
    // height: 3rem;
    // width: 3rem;
    &:active {
        transition: 50ms;
        scale: 105%;
        color: bisque;
    }
}

.increment-button-left {
    border-radius: 50% 0 0 50%;
}

.increment-button-right {
    border-radius: 0% 50% 50% 0%;
}

.shopping-cart {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: calc(2vw + 2vh);
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.buy-button {
    margin-top: 1rem;
    color: white;

    &:active {
        scale: 95%;
    }

    background-color: rgba(0, 0, 0, 0.635);
}

.color-button {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    // margin-top: 2vw;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    border-radius: 50%;
    font-size: calc(0.9vw + 0.9vh);
    // line-height: calc(2vw + 2vh);
    box-shadow: none;
}

.active-color-button {
    box-shadow: 0.1em 0.1em rgb(88, 88, 255), -0.2em -0.1em rgb(213, 213, 3);

    &.white {
        background-color: white;
    }

    &.black {
        background-color: black;
    }
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.inactive-color-button {}

.cart-count {
    position: absolute;
    display: block;
    top: calc(1vw + 2vh);
    right: 1vw;
    text-align: center;
    margin: auto;
    text-justify: auto;
    color: white;
    background-color: red;
    min-width: calc(1vw + 1vh);
    min-height: calc(1vw + 1vh);
    line-height: calc(1vw + 1vh);
    border-radius: 50%;

    &:hover {
        scale: 125%;
        cursor: pointer;
    }
}

.cart-count-text {
    font-size: calc(0.5vw + 0.5vh);
    font-weight: bolder;
}

.merch-price {
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
}

.cart {
    position: absolute;
    background-color: #d7dff7;
    margin: auto;
    text-align: center;
    // width: 40vw;
    padding-left: 20vw;
    padding-right: 20vw;
    right: 0;
    top: calc(4vw + 3vh);
    font-size: calc(1vw + 1vh);
    bottom: 5vh;
    overflow: auto;
    z-index: 10;
    border-radius: 15% 0 0 15%;
    border: rgba(0, 0, 0, 0.635);
    box-shadow: -6px 6px 0px 0px rgba(1, 53, 53, 0.364);
}

.checkout__select {
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: #000000;
}

.size__button {
    margin: .1rem;
    font-size: calc(1vw + 1vh);

}
.size__button_active {
    margin: .1rem;
    font-size: calc(1vw + 1vh);
    background-color: #000000;
    color: white;

}

.checkout__option {
    text-align: center;
}

.color_select {
    color: white;
}

// .product_details {
//   position: absolute;
//   top: 55%;
// }
.product__image {
  width: auto;
  min-width: 100%;
  height: 40vh;
//   object-fit: cover;
}

.color_select_label {
    padding-bottom: 2vh;
}

.product__info {
    // margin-top: -2vh;
}

.product__name {
    // margin-top: .5em;
    color: white;
}

.product__price {
    // margin-top: 0vh;
    margin-bottom: -2vh;
    margin-top: 1vh;
    color: white;
    scale: 90%;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart-item__image {
    // width: 80px;
    height: 80px;
    margin-right: 1rem;
    object-fit: cover;
}

.cart-item__details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-item__details-name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.cart-item__details-qty {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.cart-item__details-qty button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.cart-item__details-qty button:hover {
    background-color: #777;
}

.cart-item__details-qty span {
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.cart-item__details-qty p {
    font-size: 1rem;
    margin-right: 1rem;
}

.cart-item__details-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: auto;
}

.cart-item__remove {
    background-color: #d00;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

.cart-item__remove:hover {
    background-color: #f00;
}

.cart {
    background-color: #111;
    color: #fff;
    // padding-top: 2vw;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart__heading {
    font-size: calc(2vw + 2vh);
    margin-bottom: 1rem;
}

.cart__btn-empty {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: calc(1vw + 1vh);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.cart__btn-empty:hover {
    background-color: #777;
}

.cart__inner {
    margin-top: 1rem;
}

.cart__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.cart__btn-checkout {
    background-color: #d00;
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: calc(1vw + 1vh);
    border-radius: 4px;
    cursor: pointer;
    // width: 60%;
}

.cart__btn-checkout:hover {
    background-color: #f00;
}

.cart {
    width: 80%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 00%;
    justify-content: center; // For horizontal centering
    align-items: center; // For vertical centering
    // background-color: #000222;
    // transform: translate(-10%, 0%); // Offsets the div by half its own width/height

}

// .cart__btn-text {
//     font-size: large;
//     height: 5rem;
// }

@media only screen and (min-width: 768px) {
    .cart {
        width: 40%;
    }
}

@media only screen and (min-width: 1000px) {
    .cart {
        width: 30%;
    }
}