@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');


$tiktok: #00f2ea;
$instagram: #7385e2;
$spotify: #3bd671;
$apple: #f6636d;
$soundcloud: #f26f23;
$merch: #a6a9af;

.tiktok:hover>* {
    transition: 300ms;
    color: $tiktok!important;
}

.instagram:hover>* {
    transition: 300ms;
    color: $instagram;
}

.spotify:hover>* {
    transition: 300ms;
    color: $spotify;
}

.apple:hover>* {
    transition: 300ms;
    color: $apple;
}

.soundcloud:hover>* {
    transition: 300ms;
    color: $soundcloud;
}

.merch {
    &:hover>span {
        // transition: 300ms;
        color: $merch;
    }

    >* {
        /* min-width: 30vw; */
    }

    // max-height: 50vh;
}


/* Global styles for the body */
.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  // background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

/* Styles for the navigation bar container */
.navbar-logo-center {
  background-color: #333; /* Change to your desired background color */
  color: white; /* Change to your desired text color */
  text-align: center;
}

/* Styles for the logo image */
.navbar-logo-center img {
  max-width: 100%; /* Ensure the image fits within the container */
  height: auto;
}

/* Styles for the main content container */
.image-4 {
  width: 50%; /* Make the image responsive */
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 0;
}

/* Styles for each section */
.music-section,
.videos-section,
.shop-section,
.bio-section,
.socials-section {
  // padding: 20px;
  // background-color: rgb(255, 255, 255); /* Change to your desired background color */

  text-align: center; /* Center the content */
}

/* Example styles for each section */
.music-section {
  font-size: 1.2rem;
  color: #d7d7d7;
}
.videos-section,
.shop-section,
.bio-section,
.socials-section {
  font-size: 1.2rem;
  color: #333;
}

.bio-text,
.bio-title {
  // color: white;
}

.bio-img {
  height: 50vh;
  width: auto;
  padding: 5vh;
}

.music-container {
  display: flex;
  align-items: center;
  margin: auto;
    padding-left: 10vw;
    padding-right: 10vw;

  .artwork-container {
    flex: 1;
  }

  .album-art {
    flex: 1;
    max-width: 70%;
    max-height: 40vh;
    margin: auto;

    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4); /* Add a drop shadow to the bottom right */

    
  }

  .info-container {
    flex: 1;
    // max-width: 80%;
    padding-right: 0%;
    

   .main-header {
  font-size: calc(4vw);
  margin-bottom: 1rem;
  font-family: 'Fira Sans', sans-serif; 
  font-weight: 600;  /* Semibold weight for Fira Sans is typically 600 */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); /* Add a drop shadow to the bottom right */

}

.sub-header {
   font-size: calc(2vw);
  //  margin-top: (-1.5vh);

  margin-bottom: 3vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;  /* Regular weight is typically 400 */
       text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); /* Add a drop shadow to the bottom right */


}

    .icon-row {
      display: flex;
      gap: 20px;
      justify-content: center;  // Horizontally center the content
      align-items: center;      // Vertically center the content (if there's a height set to the container)

      img {
        max-width: 40px;
      }
    }
  }
}

.icon {
   font-size: calc(2vh + 2vw);
  line-height:180%;
  height: 100%; /* Ensure equal height for a perfect circle */
  border-radius: 50%;
  background-size: cover;  /* To ensure image covers the entire space */
  background-repeat: no-repeat;
  background-position: center;  /* Center the background image */
  :hover {
    cursor: pointer;
  }
}

.icon-container {
  background-color: black;
  border-radius: 50%;  /* Set to 50% to create a perfect circle */
  width: calc(3vh + 3vw);
  height: calc(3vh + 3vw); /* Ensure equal height for a perfect circle */
  display: flex;  /* Use flexbox to center child elements */
  align-items: center;  /* Center child vertically */
  justify-content: center;  /* Center child horizontally */
  box-shadow:0 0 10px 3px rgba(208, 208, 208, 0.323); /* Add a white glow effect */

  
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 0 0 10px 3px rgba(208, 208, 208, 0.782);
  }

}

.music-container {
                    
  background-size: cover;
  background-position: center;
  width: 80vw;

  // margin: 1vw;
  height: 100vh;
  overflow: hidden;
}

.owl-carousel.owl-loaded {
	display: block;
  width: 101vw;
}

.owl-item.cloned {
  width: 100vw
}

.inline-owl{
	overflow: hidden;
  cursor:grab;
  
  :active {
    cursor: grabbing
  }

}

.owl-carousel .owl-nav .owl-next {
	/* left: 5px; */
	font-size: 50px;
	position: absolute;
	right: -98vw!important;
}
.owl-carousel .owl-nav .owl-prev {
	/* left: 5px; */
	font-size: 50px;
	position: absolute;
  left: 2vw!important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
	color: inherit;
	font: inherit;
	font-size: 5vw!important;
         text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); /* Add a drop shadow to the bottom right */

}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background: #2e3c3700!important; 
	color: #fff;
	text-decoration: none;
}

.music-container .info-container .sub-header {
  /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
  text-shadow: .1vw .3vw .2vw rgba(0, 0, 0, 0.4);
}


.music-container .info-container .main-header {
  /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
  text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
  -webkit-text-stroke-width: .05vw;
  -webkit-text-stroke-color: rgba(0,0,0,.2);
  }

.music-container .info-container .sub-header {
  -webkit-text-stroke-width: .01vw;
  -webkit-text-stroke-color: rgba(0,0,0,.2);
}

@media (max-width: 800px) {
  .music-container {
    flex-direction: column; /* stack flex items vertically */
    max-height: 50vh;
    padding-top: 30vh;
    padding-bottom: 20vh;

    justify-content: space-around;
    align-items: center;
    }
    .main-header {
      font-size: 7vw!important;
    }
    .sub-header {
      font-size: 3vw!important;
    }
}
